node-red/flow.json
[
    {
        "id": "ae2ff847a781f0f7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cab9ad6b66144373",
        "type": "mqtt in",
        "z": "ae2ff847a781f0f7",
        "name": "Local Mosquitto",
        "topic": "2TDS/esp32/avaliacoes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1ad8b42ad7541583",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "7afc0e5faa48cff9",
                "4d9fe961d6528300"
            ]
        ]
    },
    {
        "id": "7afc0e5faa48cff9",
        "type": "debug",
        "z": "ae2ff847a781f0f7",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "4d9fe961d6528300",
        "type": "http request",
        "z": "ae2ff847a781f0f7",
        "name": "POST API Java",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/api/avaliacoes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "3707f81893a80674"
            ]
        ]
    },
    {
        "id": "3707f81893a80674",
        "type": "debug",
        "z": "ae2ff847a781f0f7",
        "name": "Debug API Java",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ad8b42ad7541583",
        "type": "mqtt-broker",
        "name": "LocalHOST",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]