node-red/flow.json
[
    {
        "id": "dfa40b38fcc37ba1",
        "type": "tab",
        "label": "EquiHire Gateway (ESP32 -> Java)",
        "disabled": false,
        "info": "Recebe dados + token do ESP32 e repassa para a API Java."
    },
    {
        "id": "2712eef97d1d8fb2",
        "type": "mqtt in",
        "z": "dfa40b38fcc37ba1",
        "name": "Receber do ESP32",
        "topic": "2TDS/esp32/skillstation/submission",
        "qos": "2",
        "datatype": "json",
        "broker": "1ad8b42ad7541583",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [["d9b6bdcb8dc0d3f0", "f7255ac9f18bf866"]]
    },
    {
        "id": "0af1f52c5f6125d6",
        "type": "http request",
        "z": "dfa40b38fcc37ba1",
        "name": "POST /submit-score",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/api/testes/submit-score",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 120,
        "wires": [["313cf9b1c89b8b2e"]]
    },
    {
        "id": "d9b6bdcb8dc0d3f0",
        "type": "debug",
        "z": "dfa40b38fcc37ba1",
        "name": "Log Entrada MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "313cf9b1c89b8b2e",
        "type": "debug",
        "z": "dfa40b38fcc37ba1",
        "name": "Log Resposta Java",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 60,
        "wires": []
    },
    {
        "id": "f7255ac9f18bf866",
        "type": "function",
        "z": "dfa40b38fcc37ba1",
        "name": "Preparar Auth e Payload",
        "func": "// 1. Extrai o token recebido do ESP32\nvar token = msg.payload.token;\n\n// 2. Configura o Header de Autorização para a API Java\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n};\n\n// 3. Limpa o payload para enviar APENAS o que o DTO Java espera\n// O DTO TesteSubmissaoDto espera: idCandidatura, score\nmsg.payload = {\n    \"idCandidatura\": msg.payload.idCandidatura,\n    \"score\": msg.payload.score\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [["0af1f52c5f6125d6"]]
    },
    {
        "id": "1ad8b42ad7541583",
        "type": "mqtt-broker",
        "name": "LocalHOST",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
